{% extends 'Shop/base.html' %}
{% load static %}

{% block title %}reset Password Done{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-sm-2 border-end">
            <h3>Welcome to Aijuest</h3>
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'login' %}" class="btn btn-primary">
                        Go To login
                    </a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Reset Successfully!</h3>

            <div class="mt-4">
                <iframe
                    src="https://giphy.com/embed/iboILe3mOqHe3PQTtk"
                    width="250"
                    height="250"
                    frameborder="0"
                    class="giphy-embed"
                    allowfullscreen>
                </iframe>
            </div>

            <div class="mt-3">
                <a href="{% url 'login' %}" class="btn btn-success">
                    Continue to Login
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock main-content %}